.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.main{
  background-image: url(./Captura.jpg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.button{
  background-image: url(./boton.png);
  width: 62%;
  height: 20%;
  padding-left: 1.9em;
  background-size: cover;
  position: absolute;
  top: 16.5em;
  left: 4.5em;
}
.link{
  text-decoration: none;
  position: relative;
  top: 2.3em;
  left: 1.3em;
  color: transparent;
}
li{
   list-style: none;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
